body {
  margin: 0;
  font-size: 16px;
  font-family: 'Verdana', 'Arial', 'Helvetica', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: #242424;
  text-decoration: none;
}

a:hover {
  color: #ff4400;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
